<p class="p-3">
  Se solicita buscar e instalar herramientas que permitan la gestión de
  configuración del software. Es decir, que permite no solo el desarrollo de
  software sino la aplicación de las actividades asociadas con esta herramienta
  de control. Así debe permitir: Identificación de la configuración, Control de
  cambios en la configuración, Generación de informes de estado y la Auditoría
  de la configuración. Si no es posible acceder a una herramienta que incorpore
  la gestión del cambio en el tiempo, puede ser una herramienta para requisitos,
  análisis, diseño, implementación, arquitectura, base de datos, interfaz de
  usuario, pero que el fabricante señale que permite la gestión del cambio del
  objeto o producto para el cual fue desarrollada. Por ejemplo, si asiste en la
  gestión de los requisitos, permite la gestión del cambio de los mismos de
  manera formal y asistida por la herramienta
</p>
