<p class="p-3">
  Asignatura de formación profesional, correspondiente a la línea de diseño de
  software, que presenta la necesidad de incorporar en el trabajo como
  ingeniero, un conjunto de herramientas computacionales para apoyar las tareas
  propias y necesarias de la ingeniería de productos de software. Entregando a
  los alumnos una guía para la búsqueda, selección y aplicación de herramientas
  para la especificación formal, análisis diseño, implementación, pruebas y
  mantenimiento de soluciones software sean tradicionales o innovadoras.
  Preparando al estudiante, en su formación como Ingeniero de Software, para que
  pueda enfrenar el desarrollo de soluciones informáticas, manejando y aplicando
  TICs en su propia actividad profesional de manera eficiente y eficaz; así
  mismo, pueda capacitar a equipos de desarrollo en estas herramientas a través
  de exposiciones orales.
</p>
