<nav class="navbar bg-lockin-secondary position-relative">
  <div class="container-fluid d-flex align-items-center">
    <!-- Logo izquierdo -->
    <a class="navbar-brand m-0">
      <img
        src="assets/images/uta_horizontal.png"
        alt="Logo UTA"
        height="60"
        class="d-inline-block align-text-top"
      />
    </a>

    <!-- Logo centrado -->
    <a
      class="navbar-brand m-0 position-absolute start-50 translate-middle-x"
      routerLink="/"
    >
      <img
        src="assets/images/logo2.png"
        alt="Logo LockIn"
        height="80"
        class="d-inline-block align-text-top"
      />
    </a>
  </div>
</nav>
