<app-navbar></app-navbar>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/proyecto"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
    >
      Mi proyecto
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/about"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Sobre Ing. de Software
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/taller3"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Sobre el Taller 3
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
